<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="app-name-container">
  <h1 class="app-name">A.C.E.D.</h1>
</div>
<div class="add-name">
  <h3 class="member-name">Welcome {{ request.session.firstname }} {{ request.session.lastname }}!</h3>
</div>
  <nav class="navbar">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
        {% if request.session.member_id == 1 or request.session.member_id == 2 %}
            Admin Dashboard
        {% else %}
        My Account
        {% endif %}
    </a>
    <a href="../logout/" class="nav-elem">Log Out</a>
  </nav>

<div class="billing-pg">
<center>
  {% if Error %}
  <div class="error-msg">
    <div class="title-container-error">
      <h2 class="error-title">Error</h2>
    </div>
    <div class="desc-container">
      <span class="error-desc">{{Error}}</span>
    </div>
  </div>
  {% endif %}

  {% if Success %}
  <div class="succ-msg">
    <div class="title-container-succ">
      <h2 class="succ-title">Success</h2>
    </div>
    <div class="desc-container">
      <span class="succ-desc">{{Success}}</span>
    </div>
  </div>
  {% endif %}

<ul id="charges-list"></ul>
  {% if request.session.member_id == None %}
    <div class="error-msg">
    <div class="title-container-error">
      <h2 class="error-title">Please Log In</h2>
    </div>
    <div class="desc-container">
      <a href="../login/" class="submit-btn">Go to Log In</a>
    </div>
  </div>


<div class="billing-body">
  {% elif request.session.member_id == 1 or request.session.member_id == 2 %}
  <br>
  <h2 class="page-titles">Billing Menu</h2>
  <div class="side-by-side">
  <div class="group-content" id="billing-group-content">
    <div class="title-container">
      <h3>Search for a Bill</h3>
    </div>
    <br>
      <form method = "post">
        {% csrf_token %}
        <input name="mem_id" class="searchbar" placeholder="Enter Member ID" required>
        <br><br>
        <input name="submittype" class="submit-btn" type="submit" value="Get Bill">
      </form>
  </div>
  <div class="group-content">
    <div class="title-container">
      <h3>Add a Charge to a Bill</h3>
    </div>
    <br>
    <form method = "post">
      {% csrf_token %}
      <input name="mem_id" class="searchbar" placeholder="Enter Member ID" required>
      <input name="amount" class="searchbar" placeholder="Enter Amount" required>
      <input name="desc" class="searchbar" placeholder="Enter Charge Description" required>
      <br><br>
      <input name="submittype" class="submit-btn" type="submit" value="Create Charge">
      <br><br>
    </form>
  </div>
  <br>
  </div>
  <br>
    {% if request.session.member_id == 2 %}
    <div class="side-by-side">
    <div class="group-content">
      <div class="title-container">
        <h3>Modify a Charge</h3>
      </div>
      <br>
      <form method = "post">
        {% csrf_token %}
        <input name="charge_id" type="searchbar" class="searchbar" placeholder="Enter Charge ID" required>
        <select name="attribute" required>
          <option class="attribute" value="amount">Amount</option>
          <option class="attribute" value="Description">Description</option>
          <option class="attribute" value="Type">Type</option>
        </select>
        <input name="value" type="searchbar" class="searchbar" placeholder="Enter Value" required>
        <input name="submittype" class="submit-btn" type="submit" value="Modify Charge">
      </form>
    </div>
  <div class="group-content">
    <div class="title-container">
      <h3>Delete a Charge</h3>
    </div>
    <br>
    <form method = "post">
      {% csrf_token %}
      <input name="charge_id" class="searchbar" type="searchbar" placeholder="Enter Charge ID" required>
      <input name="submittype" class="submit-btn" type="submit" value="Delete Charge">
    </form>
  </div>
  <br>
  </div>
  <br>
  <div class="group-content">
    <div class="title-container">
      <h3>Modify Billing Policy</h3>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      <input name="submittype" class="submit-btn" type="submit" value="Retrieve Current Billing Scheme">
    </form>
    <br>
  {% if billing_scheme %}
  <table border="1" class="table-style">
    <tr>
      <th>Guest Fee</th>
      <th>Annual Fee</th>
    </tr>
    <tr>
      <td>{{billing_scheme.0.0}}</td>
      <td>{{billing_scheme.0.1}}</td>
    </tr>
  </table>
</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <select name="chargetype">
      <option class="chargetype" value="guestfee">Guest Fee</option>
      <option class="chargetype" value="annualfee">Annual Fee</option>
    </select>
    <input name="value" class="searchbar" type="searchbar" placeholder="Enter Modified Value" required>
    <input name="submittype" class="submit-btn" type="submit" value="Modify Billing Scheme">
  </form>

    {% endif %}

    {% if bill %}
    <br>
    <div class="group-content">
      <div class="title-container">
        <h2>Bill</h2>
        </div>
        <center>
          <br>
        <table border = "1" class="table-style">
          <tr>
            <th>Charge ID</th>
           <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
          </tr>
        {% for charge in bill %}
          <tr>
            <td>{{ charge.0 }}</td>
            <td>{{ charge.1 }}</td>
            <td>{{ charge.2 }}</td>
            <td>{{ charge.3 }}</td>
            <td>{{ charge.4 }}</td>
          </tr>
        {% endfor %}
        </table>
        </center>
    {% endif %}
    </div>
  {% else %}
  <br>
  <h2 class="page-titles">Billing Menu</h2>
    <form method = "post">
      {% csrf_token %}
      <input name="submittype" id="get-bill-btn" class= "submit-btn" type="submit" value="Get Bill">
    </form>
    {% if bill %}
    <div class="group-content">
      <div class="title-container">
      <h2>Your Bill</h2>
      </div>
      <center>
        <br>
      <table border = "1" class="table-style">
        <tr>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
        </tr>
      {% for charge in bill %}
        <tr>
          <td>{{ charge.1 }}</td>
          <td>{{ charge.2 }}</td>
          <td>{{ charge.3 }}</td>
          <td>{{ charge.4 }}</td>
        </tr>
      {% endfor %}
      </table>
      </center>
      </div>
    {% endif %}
<br>
  <div class="group-content">
    <div class="title-container">
      <h2>Pay Your Bill</h2>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      <input name="year" class ="searchbar" type="number" min="2000" max="3000" step="1" placeholder="Year" required>
      <br>
      <h3>Cardholder Name</h3>
      <input name="fname" class="searchbar" type="searchbox" placeholder="First Name" required>
      <input name="lname" class="searchbar" type="searchbox" placeholder="Last Name" required>
      <h3>Credit Card Information</h3>
      <input name="cardnum" class="searchbar" type="password" placeholder="Credit Card Number" required>
      <input name="cvc" class="searchbar" type="password" placeholder="CVC" required>
      <input name="expir" class="searchbar" type="month" placeholder="month" required>
      <br>
      <br>
      <input name="submittype" class= "submit-btn" type="submit" value="Pay Your Bill">
    </form>
  </div>
</div>
</center>
</div>
  {% endif %}

</html>
