<!DOCTYPE html>
<html>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />

<div class="app-name-container">
  <img width="300px" src="{% static 'logo-final-final.png' %}"/>
</div>
<div class="add-name">
  <h3 class="member-name">Welcome {{ request.session.firstname }} {{ request.session.lastname }}!</h3>
</div>
  <nav class="navbar">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
        {% if request.session.member_id == 1 or request.session.member_id == 2 %}
            Admin Dashboard
        {% else %}
        My Account
        {% endif %}
    </a>
    <a href="../logout/" class="nav-elem">Log Out</a>
  </nav>
<body>
  <div class="dir-page">
    <br>
  {% if request.session.member_id != none %}
      <center>
    {% if Error %}
      <div class="error-msg">
        <div class="title-container-error">
          <h2 class="error-title">Error</h2>
        </div>
        <div class="desc-container">
          <span class="error-desc">{{Error}}</span>
        </div>
      </div>
    {% endif %}

    {% if Success %}
      <div class="succ-msg">
        <div class="title-container-succ">
          <h2 class="succ-title">Success</h2>
        </div>
        <div class="desc-container">
          <span class="succ-desc">{{Success}}</span>
        </div>
      </div>
    {% endif %}
  </center>
  <br>
  <center>
  <h2 class="page-titles" id="dir-title">Directory</h2>
<br>

<div class="side-by-side">
  <div class="group-content">
    <div class="title-container">
      <h2 id="search-dir-title">Search Directory</h2>
    </div>
    <br><br><br>
    <form method="post">
        {% csrf_token %}
        {% if request.session.member_id != 1 and request.session.member_id != 2 %}
            <label for="search">Select Attribute:</label>
            <select name = "attribute" class="dd-list">
                <option class="dd-content" value="firstname">First Name</option>
                <option class="dd-content" value="lastname">Last Name</option>
                <option class="dd-content" value="email">Email</option>
                <option class="dd-content" value="phonenum">Phone Number</option>
            </select>
                <input name = "value" class="searchbar" placeholder="Select attribute, then search value" required>
                <input name ="submittype" class="submit-btn" type="submit" value="Search">
        {% else %}
            <label for="search">Select Attribute:</label>
            <select name ="attribute" class="dd-list">
                <option class="dd-content" value="member_id">Member ID</option>
                <option class="dd-content" value="firstname">First Name</option>
                <option class="dd-content" value="lastname">Last Name</option>
                <option class="dd-content" value="email">Email</option>
                <option class="dd-content" value="phonenum">Phone Number</option>
                <option class="dd-content" value="guestpass">Guest Passes</option>
                <option class="dd-content" value="optIN">Opt-In Status</option>
                <option class="dd-content" value="active">Active Status</option>
            </select>
                <input name="value" class="searchbar" placeholder="Select attribute, then search value" required>
                <input class="submit-btn" name="submittype" type="submit" value="Search">
        {% endif %}
        </form>
    <br> <br>
    <form method="post">
        {% csrf_token %}
        <input class="submit-btn" name="submittype" type="submit" value="View Full Directory">
    </form>
    <br><br>
  </div>
    <br><br>
    {% if request.session.member_id == 1 %}
    <div id="register-member" class="group-content">
      <div class="title-container">
        <h2>Register a New Member</h2>
      </div>
      <br><br>
    <form method="post">
        {% csrf_token %}
        <input name="fname" class="searchbar" placeholder="First Name" required>
        <input name="lname" class="searchbar" placeholder="Last Name" required>
        <input name="email" class="searchbar" placeholder="Email" required>
        <input name="phonenum" class="searchbar" placeholder="Phone Number" required>
        <!-- <input name="optin" class="searchbar" placeholder="Opt-In Status (True or False)" required> -->
        <input name="password" class="searchbar" placeholder="Password" required>
        <br><br>
        <label class="dropdown" for="opt-in">Opt-In</label>
        <select name="dropdown-option" class="dd-list">
          <option class="attribute" value="True">Yes</option>
          <option class="attribute" value="False">No</option>
        </select>
        <br><br><br>
        <input class="submit-btn" name="submittype" type="submit" value="Create Member" required>
    </form>
    <br><br>
  </div>
</div>

<br><br>
<div class="side-by-side">
  <div id="update-member" class="group-content">
    <div class="title-container">
      <h2>Update a Member</h2>
    </div>
    <br><br>
        <form method="post" class="dropdown">
            {% csrf_token %}
            <input name="member_id" class="searchbar" placeholder="Member ID" required>
            <select name="attribute" class="dd-list">
              <option class="attribute" value="firstname">First Name</option>
              <option class="attribute" value="lastname">Last Name</option>
              <option class="attribute" value="email">Email</option>
              <option class="attribute" value="phonenum">Phone Number</option>
              <option class="attribute" value="optIN">Opt-In Status</option>
              <option class="attribute" value="password">Password</option>
            </select>
            <input name="value" class="searchbar" placeholder="Value to Change" required>
            <br><br>
            <input class="submit-btn" name="submittype" type="submit" value="Update Member">
        </form>
        <br>
  </div>
  <div class="group-content" id="deactivate">
    <div class="title-container">
      <h2>Deactivate a Member</h2>
    </div>
    <br><br>
      <form method="post">
          {% csrf_token %}
          <input name="memid" class="searchbar" placeholder="Member ID" required>
          <br><br>
          <input class="submit-btn" name="submittype" type="submit" value="Deactivate Member">
      </form>
      <br>
    </div>
</div>

{% endif %}

{% if results %}
<br><br>
<div class="group-content-dir" id="search-results">
    <div class="title-container">
      <h2>Search Results</h2>
    </div>
    <br>
    <table border="1" class="table-style" id="dir-view">
        {% if request.session.member_id != 1 and request.session.member_id != 2 %}
            <tr>
                <th class="dir-header">First Name</th>
                <th class="dir-header">Last Name</th>
                <th class="dir-header">Email</th>
                <th class="dir-header">Phone Number</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td class="dir-elem">{{ result.0 }}</td>
                    <td class="dir-elem">{{ result.1 }}</td>
                    <td class="dir-elem">{{ result.2 }}</td>
                    <td class="dir-elem">{{ result.3 }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th class="dir-header">Member ID</th>
                <th class="dir-header">First Name</th>
                <th class="dir-header">Last Name</th>
                <th class="dir-header">Email</th>
                <th class="dir-header">Phone Number</th>
                <th class="dir-header">Guest Passes</th>
                <th class="dir-header">Opt In Status</th>
                <th class="dir-header">Active Status</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td class="dir-elem">{{ result.0 }}</td>
                    <td class="dir-elem">{{ result.1 }}</td>
                    <td class="dir-elem">{{ result.2 }}</td>
                    <td class="dir-elem">{{ result.3 }}</td>
                    <td class="dir-elem">{{ result.4 }}</td>
                    <td class="dir-elem">{{ result.5 }}</td>
                    <td class="dir-elem">{{ result.6 }}</td>
                    <td class="dir-elem">{{ result.7 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
  </div>
{% endif %}

</center>
</div>

{% else %}
<center>
    <div class="error-msg">
      <div class="title-container-error">
        <h2 class="error-title">Please Log In</h2>
      </div>
    <div class="desc-container">
      <a href="../login/" class="submit-btn">Go to Log In</a>
    </div>
  </div>
</center>
{% endif %}
</body>
</html>
