<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  {% load custom_filters %}
  <div class="app-name-container">
    <img width="300px" src="{% static 'logo-final-final.png' %}"/>
  </div>
  <div class="add-name">
    <h3 class="member-name">Welcome {{ request.session.firstname }} {{ request.session.lastname }}!</h3>
  </div>
  <nav class="navbar">
    <a href="../scheduler/" class="nav-elem">Court Scheduler</a>
    <a href="../billing/" class="nav-elem">Billing</a>
    <a href="../directory/" class="nav-elem">Member Directory</a>
    <a href="../account/" class="nav-elem">
        {% if request.session.member_id == 1 or request.session.member_id == 2 %}
            Admin Dashboard
        {% else %}
        My Account
        {% endif %}
    </a>
    <a href="../logout/" class="nav-elem">Log Out</a>
  </nav>
  {% if request.session.member_id != none %}
<center>
<div class="scheduler-bg">

{% if Error %}
  <div class="error-msg">
    <div class="title-container-error">
      <h2 class="error-title">Error</h2>
    </div>
    <div class="desc-container">
      <span class="error-desc">{{Error}}</span>
    </div>
  </div>
  {% endif %}

  {% if Success %}
  <div class="succ-msg">
    <div class="title-container-succ">
      <h2 class="succ-title">Success</h2>
    </div>
    <div class="desc-container">
      <span class="succ-desc">{{Success}}</span>
    </div>
  </div>
  {% endif %}
  <br>
  <h2 class="page-titles" id="res-title">Court Scheduler</h2>
  <div class="res-rules">
    <h3 style="text-decoration: underline;">Reservation Rules:</h3>
  <div class="rules" style="text-align: left;">
    <p><span class="num-bold">1. </span>Reservation cannot overlap with another reservation. </p>
    <p><span class="num-bold">2. </span>Reservation cannot be booked less than 60 minutes after the current reservation. </p>
    <p><span class="num-bold">3. </span>Reservation cannot be booked less than 60 minutes before the current reservation.</p>
    <p><span class="num-bold">4. </span>Reservation cannot be scheduled more than 7 days in advance.</p>
    <p><span class="num-bold">5. </span>One guest pass required for each guest.</p>
    <p><span class="num-bold">6. </span>You cannot have more than two other reservations in the next 7 days. </p>
  </div>
  </div>
  <br>
<div class="res-container">
  <div class="res-left">
    <div class="sched-group-content">
      <div class="title-container">
        <h3>Select Day:</h3>
      </div>
    <br>
    <form method = "post">
      {% csrf_token %}
      <select name="day" class="dd-list">
        <option class="day" value="6">Sunday</option>
        <option class="day" value="0">Monday</option>
        <option class="day" value="1">Tuesday</option>
        <option class="day" value="2">Wednesday</option>
        <option class="day" value="3">Thursday</option>
        <option class="day" value="4">Friday</option>
        <option class="day" value="5">Saturday</option>
      </select>
      <input class="submit-btn" name="submittype" type="submit" value="Select Day">
    </form>
  </div>
  <!-- <br> -->
<div class="sched-group-content">
  <div class="title-container">
    <h2>Create Reservation</h2>
  </div>
  <br>
  <div class="res-group-content">
    <div class="res-title-container">
      <h2 style="font-size: 20px;">Reset Reservation</h2>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      <input name="submittype" class="submit-btn" type="submit" value="Reset Process">
    </form>
  </div>
  <br>
  {% if request.session.scheduler_stage == 'Type' %}
  <div class="res-group-content">
    <div class="res-title-container">
      <h3>Select Reservation Type:</h3>
    </div>
    <br>
    <form method = "post">
      {% csrf_token %}
      <select name="type" class="dd-list">
        <option class="type" value="singles">Singles</option>
        <option class="type" value="doubles">Doubles</option>
      </select>
      <input name="submittype" class="submit-btn" type="submit" value="Select Type">
    </form>
  </div>
  <br>
  {% endif %}
  {% if request.session.scheduler_stage == 'Guests' %}
  <div class="res-group-content">
    <div class="res-title-container">
      <h3>Select Number of Non-Member Guests</h3>
    </div>
    <br>
    {% if request.session.type == 'singles' %}
      <form method="post">
        {% csrf_token %}
        <select name="guests" class="dd-list">
          <option class="guests" value="0">0</option>
          <option class="guests" value="1">1</option>
        </select>
        <input name="submittype" class="submit-btn" type="submit" value="Designate Guests">
      </form>
    {% elif request.session.type == 'doubles' %}
      <form method="post">
        {% csrf_token %}
        <select name="guests" class="dd-list">
          <option class="guests" value="0">0</option>
          <option class="guests" value="1">1</option>
          <option class="guests" value="2">2</option>
          <option class="guests" value="3">3</option>
        </select>
        <input name="submittype" class="submit-btn" type="submit" value="Designate Guests">
      </form>
        {% endif %}
  </div>
  <br>
  {% endif %}

  {% if request.session.scheduler_stage == 'Reserve' %}
  <div class="res-group-content">
    <div class="res-title-container">
      <h3>Enter Reservation Information</h3>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      Start Time
      <input type="time" class="select-time" name="start" min="06:00" max="20:00" step="900" required>
      End Time
      <input type="time" class="select-time" name="end" min="06:00" max="20:00" step="900" required>
      Court Number
      <select name="court" class="dd-list">
        <option class="court" value="1">1</option>
        <option class="court" value="2">2</option>
        <option class="court" value="3">3</option>
        <option class="court" value="4">4</option>
        <option class="court" value="5">5</option>
        <option class="court" value="6">6</option>
        <option class="court" value="7">7</option>
        <option class="court" value="8">8</option>
        <option class="court" value="9">9</option>
        <option class="court" value="10">10</option>
        <option class="court" value="11">11</option>
        <option class="court" value="12">12</option>
      </select>

      <br>
      {% if request.session.type == 'singles' %}
        {% if request.session.num_guests == '1' %}
          <input name="guest1" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
        {% elif request.session.num_guests == '0' %}
          <input name="member2" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
        {% endif %}
      {% endif %}
      {% if request.session.type == 'doubles' %}
        {% if request.session.num_guests == '0' %}
          <input name="member2" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
          <input name="member3" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
          <input name="member4" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
        {% elif request.session.num_guests == '1' %}
          <input name="member2" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
          <input name="member3" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
          <input name="guest1" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
        {% elif request.session.num_guests == '2' %}
          <input name="member2" class="searchbar" type="searchbox" placeholder="Enter Member Name" required>
          <input name="guest1" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
          <input name="guest2" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
        {% elif request.session.num_guests == '3' %}
          <input name="guest1" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
          <input name="guest2" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
          <input name="guest3" class="searchbar" type="searchbox" placeholder="Enter Guest Name" required>
        {% endif %}
        {% endif %}
        <input name="submittype" class="submit-btn" type="submit" value="Reserve">
      </form>
      </div>
      <br>
    {% endif %}
  </div>
<br>
  {% if time_grid %}
  <div class="group-content">
    <div class="title-container">
      <h2>Reservations for the Day</h2>
    </div>
    <br>
    <table border="1" class="calendar">
      <thead>
          <tr>
             <th>Time</th>
             {% for court in courts %}
                  <th>Court #{{ court }}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for row in time_grid %}
             <tr>
                 <td>{{ row.time }}</td>
                 {% for court_data in row.courts %}
                    <td style="text-align: center; {% if court_data.reservation_id and court_data.type == 'singles'%} background-color: #90EE90; {% endif %} {% if court_data.reservation_id and court_data.type == 'doubles'%} background-color: #ffcccb; {% endif %}">
                      {% if court_data.reservation_id %}
                        {{ court_data.reservation_id }}
                      {% endif %}
                    </td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  {% endif %}
  </div>
  <br>
  <div class="res-right">
  {% if res_results %}
  <div class="sched-group-content">
    <div class="title-container">
      <h2>Reservation:</h2>
    </div>
    <br>
    <center>
    <table border="1" class="calendar">
      <tr>
        <th>Day</th>
        <th>Court Number</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Reservation Type</th>
      </tr>
      <tr>
        <td>
          {% if res_results.0.0 == 0 %}
            Monday
          {% elif res_results.0.0 == 1%}
            Tuesday
          {% elif res_results.0.0 == 2 %}
            Wednesday
          {% elif res_results.0.0 == 3 %}
            Thursday
          {% elif res_results.0.0 == 4 %}
            Friday
          {% elif res_results.0.0 == 5 %}
            Saturday
          {% elif res_results.0.0 == 6 %}
            Sunday
          {% endif %}
        </td>
        <td>{{ res_results.0.1 }}</td>
        <td>{{ res_results.0.2 }}</td>
        <td>{{ res_results.0.3 }}</td>
        <td>{{ res_results.0.4 }}</td>
      </tr>
    </table>
    <h3>Players:</h3>
    <table border="1" class="calendar">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      {% for attendee in attendees %}
      <tr>
        <td>{{ attendee.0 }} </td>
        <td>{{ attendee.1 }} </td>
      </tr>
      {% endfor %}
    </table>
    </center>
  </div>
  <br>
    <div class="sched-group-content">
      <div class="title-container">
        <h3>Update This Reservation</h3>
      </div>
      <br>
      <form method="post">
        {% csrf_token %}
        {% if request.session.update_type == 'singles' %}
          <input name="player1" class="searchbar" type="searchbox" placeholder="Enter Player Name" required>
        {% elif request.session.update_type == 'doubles' %}
          <input name="player1" class="searchbar" type="searchbox" placeholder="Enter Player Name" required>
          <input name="player2" class="searchbar" type="searchbox" placeholder="Enter Player Name" required>
          <input name="player3" class="searchbar" type="searchbox" placeholder="Enter Player Name" required>
        {% endif %}
        <input name="submittype" class="submit-btn" type="submit" value="Update Reservation">

      </form>
    </div>
    <br>
  {% endif %}

  <div class="sched-group-content">
    <div class="title-container">
      <h3>Lookup a Reservation</h3>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      <input name="res_id" class="searchbar" type="number" placeholder="Enter Reservation ID" required>
      <input name="submittype" class="submit-btn" type="submit" value="Lookup Reservation">
    </form>
    </div>
    <br>
  <div class="sched-group-content">
    <div class="title-container">
      <h3>Delete a Reservation</h3>
    </div>
    <br>
    <form method="post">
      {% csrf_token %}
      <input name="res_id" class="searchbar" type="searchbox" placeholder="Enter Reservation ID">
      <input name="submittype" class="submit-btn" type="submit" value="Delete Reservation">
    </form>
  </div>
  </div>
  <br><br>
</div>
</div>



</center>
{% else %}
<center>
    <div class="error-msg">
    <div class="title-container-error">
      <h2 class="error-title">Please Log In</h2>
    </div>
    <div class="desc-container">
      <a href="../login/" class="submit-btn">Go to Log In</a>
    </div>
  </div>
</center>
{% endif %}
</html>
