@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900');

html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.app-name-login {
  background-color: #5F935A;
  text-align: center;
  color: white;
  padding: 20px;
}

#login-text {
  color: #5F935A;
  stroke-width: 4px;
}

#email-text {
  display: inline;
}

#enter-email {
  width: 500px;
  height: 35px;
  border-radius: 10px;
  border-style: solid;
}

#pwd-text {
  display: inline;
}

#enter-pwd {
  width: 500px;
  height: 35px;
  border-radius: 10px;
  border-style: solid;
}

#login-btn {
  width: 100px;
  background-color: #5F935A;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #5F935A;
  text-align: center;
  padding: 10px;
}

.submit-btn {
  background-color: #5F935A;
  padding: 10px;
  border: solid;
  border-color: #5F935A;
  color: white;
  border-radius: 7px;
  transition: padding 0.2s;
}

.submit-btn:hover {
  background-color: white;
  color: #5F935A;
  padding: 12px;
}

#fetch-btn {
  background-color: white;
  color: #5F935A;
}


#login-btn:hover {
  background-color: white;
  color: #5F935A;
}

.navbar {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  /* border: solid;
  border-color: white; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px;
}

.add-name {
  float: right;
  margin-top: -60px;
  margin-right: 10px;
}

.member-name {
  color: white;
  font-size: 18px;
}

.app-name-container {
  background-color: #5F935A;
  padding: 10px;
  text-align: center;
}

.app-name {
  color:white;
}

.nav-elem {
  padding: 20px;
  color: #5F935A;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  /* margin-left: 60px;
  margin-right: 60px; */
}

/* .nav {
} */

.nav-elem:hover {
  background-color: #5F935A;
  color: white;
}

.attribute {
  font-family: "Montserrat";
}

.searchbar {
  display: inline;
  width: 200px;
  /* margin-left: 20px; */
  padding: 10px;
  border-radius: 7px;
  border-color: transparent;
}

.dd-list {
  border: none;
  padding: 7px;
  border-radius: 7px;
}

.side-by-side {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.group-content {
  flex: 1;
  padding:10px;
  background-color: rgba(255,255,255,0.7);
  width: fit-content;
  min-width: 500px;
  max-width: 800px;
  border: solid;
  border-radius: 10px;
  border-color: transparent;
  /* margin-left: 50px; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .group-scheduler {
  float: left;
}

.group-type {
  float: left;
} */

/* #scheduler-align {
  float: left;
} */

/* #group-delete {
  float: right;
} */

#search-results {
  max-width: 100vw;
}

.title-container {
  background-color: white;
  padding: 10px;
  border-color: white;
  border-radius: 7px;
}


#search-btn {
  border: solid;
  border-color: white;
  padding: 18px;
  border-radius: 10px;
  background-color: white;
  color: #5F935A;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#view-dir {
  border: solid;
  border-color: white;
  padding: 18px;
  border-radius: 10px;
  background-color: white;
  color: #5F935A;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#view-dir:hover, #search-btn:hover {
  background-color: transparent;
  color: white;
}

.dir-page {
  margin-top: -10px;
  background-image: url('bg3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 30px;
  min-height: 100vh;
  height: auto;
  /* height: 550px; */
}

#dir-title {
  color: black;
  margin-top: 10px;
}

#search-dir-title {
  color: black;
  text-align: center;
}

/* .acc-labels {
  text-align: left;
  padding: 30px;
} */

.acc-result {
  font-size: 20px;
}

.page-titles {
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  width: fit-content;
  margin: 20px;
  border: solid;
  border-color: transparent;
  border-radius: 7px;
}

.acc-page {
  margin-top: -20px;
  background-image: url('account-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}
.admin-billing-title {
  margin-top: 80px;
}

.scheduler-bg {
  margin-top: -20px;
  background-image: url('reservation-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.res-title {
  background-color: white;
  margin-top: 20px;
  width: 300px;
  padding: 30px;
}

#rules-title-container {
  text-decoration: underline;
}

.res-rules {
  width: fit-content;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid;
  border-color: transparent;
  border-radius: 7px;
}

.num-bold {
  font-weight: bold;
}

#delete-res {
  padding: 20px;
}

.billing-pg {
  margin-top: -20px;
  background-image: url('tennis-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

#billing-group-content {
  width: 400px;
}

.billing-body {
  /* background-color: #5F935A; */
  border: solid;
  border-color: black;
  border-radius: 7px;
}

#get-bill-btn {
  background-color: white;
  color: #5F935A;
  margin-bottom: 20px;
}

#get-bill-btn:hover {
  color: white;
  background-color: #5F935A;
  border-color: white;
}

.table-style {
  background-color: rgba(255,255,255,0.7);
}

table {
  border-collapse: separate;
}

th:not(:first-child),
td:not(:first-child) {
  border-left-style: solid;
}

th[rowspan]:not(:last-child),
td[rowspan]:not(:last-child) {
  border-right-style: solid;
}

.calendar {
  background-color: rgba(255,255,255,0.65);
  text-align: center;
}

.login-msg {
  margin-top: 200px;
}

#dir-view {
  width: fit-content;
}

.dir-header {
  padding: 20px;
}

.dir-elem {
  padding: 15px;
  /* border-radius: 7px; */
}

.error-msg {
  border: solid;
  border-color: black;
  width: 500px;
}

.title-container-error {
  background-color: red;
  border: solid;
  border-color: red;
}

.error-title {
  color: white;
  text-align: center;
}

.desc-container{
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

.succ-msg {
  border: solid;
  border-color: black;
  width: 500px;
}

.title-container-succ {
  background-color: green;
  border: solid;
  border-color: green;
}

.succ-title {
  color: white;
  text-align: center;
}

.desc-container{
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}
